html {
  background-image: linear-gradient(to right, #decba4, #3e5151);
  height: 100px;
  scroll-behavior: smooth;
}

.App {
  animation: myAnim 2s ease 0s 1 normal forwards;
  font-family: "Raleway", sans-serif;
}
@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

section {
  height: calc(100% - 20vh);
  margin: 100px 20px -50px 20px;
  background: rgba(129, 111, 111, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.9px);
  -webkit-backdrop-filter: blur(14.9px);
  border: 1px solid rgba(129, 111, 111, 0.99);
}
